.mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 824px;
}

.rightLine {
  width: 100%;
  height: 1px;
  background-color: var(--line-100);

  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 32px;
}
