.outerContainer {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
}

.noPadding {
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 120px;
  gap: 60px;
}

.leftFilters {
  max-width: 955px;
  flex: 1;
  margin-top: 56px;
  position: relative;
}

.leftFilters::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: -40px;
}

.rightFilters {
  max-width: 354px;
  flex: 1;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shareEstimateText {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #1f1f1f;
}

.section {
  margin-top: 40px;
}

.border {
  margin: 24px 0;
  border-top: 1px solid #f2f2f2;
}

.mobileBorder {
  margin-top: 24px;
  border-top: 1px solid #f2f2f2;
}

.mobileSpacing {
  margin-top: 24px;
}

.sectionTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #1f1f1f;
  margin-bottom: 32px;
}

.costValue {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #1f1f1f;
  margin-top: 32px;
}

.comment {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #1f1f1f;
  margin-top: 32px;
}

.costInfoWrapper {
  margin-top: 40px;
}

.toastWrapper {
  margin-top: 22px;
}

.snsShareMobile {
  margin-top: 24px;
}

.snsShareDesktop {
  margin-top: 0;
}

.heartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.confirmButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  background-color: var(--blue-300);
  color: var(--gray-50);
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    flex-direction: column;
    padding: 20px 72px;
    gap: 0;
  }

  .leftFilters {
    max-width: 100%;
    width: 100%;
    margin-top: 0;
  }

  .rightFilters {
    display: none;
  }

  .costInfoWrapper {
    margin-top: 34px;
  }

  .toastWrapper {
    margin-top: 8px;
  }

  .mobileSpacing {
    margin-top: 24px;
  }

  .mobileBorder {
    margin-top: 24px;
    border-top: 1px solid #f2f2f2;
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .container {
    padding: 0px 24px;
  }

  .rightFilters {
    display: none;
  }

  .costInfoWrapper {
    margin-top: 24px;
  }

  .toastWrapper {
    margin-top: 8px;
  }

  .mobileSpacing {
    margin-top: 24px;
  }

  .mobileBorder {
    margin-top: 24px;
    border-top: 1px solid #f2f2f2;
  }
}
