.container {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  width: 116px;
  height: 44px;

  border-radius: 16px;
  background-color: #1b92ff;

  color: white;
  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
}
