.react-calendar {
  background-color: #ffffff;
  border-radius: 32px;
  border: none;
  max-width: 560px;
  width: 100%;
  margin-bottom: 24px;
}

.react-calendar__navigation {
  height: 60px;
  margin-top: 24px;
}

.react-calendar__navigation__label {
  pointer-events: none;
  cursor: not-allowed;
}

.react-calendar__navigation__label__labelText {
  font-size: 20px;
  font-weight: 600;
}

.react-calendar__navigation__arrow {
  font-size: 35px;
  background-color: transparent !important;
}

.react-calendar__navigation button:disabled {
  background-color: transparent !important;
  color: var(--gray-500) !important;
  cursor: not-allowed !important;
  border: none !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: none;
}

.react-calendar__tile--now {
  background-color: transparent !important;
}

.react-calendar__tile:disabled {
  background-color: transparent !important;
  cursor: not-allowed !important;
}

.react-calendar__navigation button:disabled {
  background-color: transparent !important;
}

.react-calendar__tile {
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.react-calendar__tile--active {
  background-color: var(--blue-300);
  border-radius: 100px;
  width: 100%;
  min-width: 60px;
  min-height: 60.5px;
  max-width: 60px;
  height: 100%;
  color: white;
  flex: unset !important;
  margin: 0 auto !important;
}

.react-calendar__tile--weekend {
  color: red;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 25px;
  color: rgba(128, 128, 128, 1);
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days {
  font-size: 20px;
  font-weight: 500;
}

.react-calendar button {
  margin-bottom: 10px;
}

.noticeText {
  font-size: 15px;
  margin-bottom: 30px;
  margin-left: 10px;
  color: var(--red-200);
}

@media (max-width: 500px) {
  .react-calendar__tile--active {
    min-width: 30px;
    max-width: 30px;
    min-height: 55.25px;
  }
}
