.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 955px;
  height: 656px;
  display: flex;
  justify-content: center;
  margin-top: 104px;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.text {
  color: var(--gray-400);
  line-height: 32px;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 1199px) {
  .container {
    width: 327px;
    height: 370px;
  }

  .contents {
    gap: 24px;
  }

  .fileImage {
    width: 110px;
  }

  .carImage {
    width: 228px;
  }

  .text {
    font-size: 14px;
    line-height: 24px;
  }
}
