.mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 824px;
}

.rightLine {
  width: 100%;
  border: 1px solid var(--line-100);

  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 32px;
}
