.container {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;

  /* 반응형 추후 추가 시 min-width: 332px */
}

.navigation {
  text-align: left;
  height: 96px;
  padding: 32px 260px;
  background-color: var(--gray-50);
  font-size: 24px;
  font-weight: 600;
}

.mainContainer {
  padding: 24px 260px;
  display: flex;
  justify-content: space-between;
  gap: 107px;
}

.filterBox {
  padding-right: 10px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filterBar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.searchBar {
  width: 100%;
  height: 64px;
}

.sortBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  z-index: 10;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
}