.main {
  padding: 0 260px;  
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 400px; */
  /* width: 800px; */
  /* width: 1100px; */
  width: 100%;
  padding: 50px;
}

/* 743px ~ 375px */
@media (max-width: 743px) {
  .main {
    padding: 0 30px;  
  } 
}

/* 1119px ~ 744px */
@media (max-width: 1199px) and (min-width: 744px) {
  .main {
    padding: 0 72px;  
  }
}