.container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  padding: 0 120px;
  /* 반응형 추후 추가 시 min-width: 332px */
}

.navigation {
  text-align: left;
  height: 96px;
  padding: 32px;
  background-color: var(--gray-50);
  font-size: 24px;
  font-weight: 600;
}

.mainContainer {
  padding: 24px;
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.filterBox {
  padding-right: 10px;
  max-width: 328px;
  width: 100%;
  flex: 0 1 328px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 32px;
  max-width: 955px;
  min-width: 600px;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.searchBar {
  width: 100%;
  height: 64px;
}

.sortBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  z-index: 10;
}

.filterBar {
  display: flex;
  justify-content: space-between;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.noContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 560px;
}

.pagination {
  display: flex;
  justify-content: center;
}

@media (max-width: 743px) {
  .container {
    padding: 0 24px;
  }

  .content {
    gap: 12px;
    min-width: 328px;
  }
}

@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    padding: 0 72px;
  }

  .content {
    gap: 16px;
  }
}

@media (max-width: 1200px) {
  .navigation {
    height: 54px;
    padding: 10px;
    font-size: 18px;
  }

  .mainContainer {
    padding: 0;
    gap: 0;
  }

  .filter {
    gap: 0;
  }

  .searchBar {
    height: 76px;
    padding: 12px 10px;
  }

  .sortBar {
    font-size: 13px;
    font-weight: 600;
    height: 32px;
    padding: 4px 10px;
  }

  .filterBar {
    gap: 4px;
  }

  .noContent {
    height: 290px;
  }
}
