.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 50px;
}

/* 743px ~ 375px */
/* @media (max-width: 743px) {
} */

/* 1119px ~ 744px */
/* @media (max-width: 1199px) and (min-width: 744px) {
} */
