.profile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 18px;
  border: 1px solid var(--line-100);
  border-radius: 6px;
}

.profilePType {
  background-color: var(--background-100);
  border: 1px solid var(--line-200);
}

.profileRType {
  border: none;
}

.profileWType {
  height: 92px;
}

.profileSmall {
  gap: 12px;
  padding: 10px;
}

.profileImage {
  border: 2px solid var(--blue-400);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 66px;
  height: 56px;
}

.hidden {
  display: none;
}

.profileImgDType {
  width: 96px;
  height: 80px;
}

.profileImgPType {
  width: 88px;
  height: 80px;
}

.profileImgRType {
  width: 110px;
  height: 90px;
}

.profileImageSmall {
  width: 60px;
  height: 50px;
}

.avatar {
  object-fit: cover;
  position: absolute;
  width: 70px;
  height: 64px;
}

.avatarLarge {
  width: 120px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--black-300);
  height: 100%;
}

.nameRType {
  font-size: 24px;
}

.nameSmall {
  font-size: 14px;
}

.favoriteCount {
  min-width: 49px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  color: var(--blue-400);
  font-size: 18px;
  font-weight: 500;
}

.favoriteCountSmall {
  font-size: 13px;
}

.details {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--black-300);
}

.detailsSmall {
  gap: 4px;
  font-size: 13px;
}

.detailsPType {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  height: 100%;
  color: var(--black-300);
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.textSmall {
  gap: 4px;
}

.textLabel {
  color: var(--gray-300);
}

.textPType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.movingLabel {
  height: 34px;
  border-radius: 4px;
  padding: 4px 6px;
  border: 1px solid var(--line-100);
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-500);
  background-color: var(--background-200);
  text-align: center;
  line-height: 24px;
}

.starBox {
  display: flex;
  align-items: center;
  gap: 16px;
}

.starBoxSmall {
  gap: 4px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.starsSmall {
  gap: 4px;
}

.separator {
  color: var(--line-200);
  font-weight: 100;
}

.separatorHidden {
  display: none;
}

.boxing {
  color: var(--gray-400);
  background-color: var(--background-400);
  width: 42px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

@media (max-width: 743px) {
  .profile {
    gap: 12px;
    padding: 10px 0;
  }

  .detailsPType {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }
}

@media (max-width: 1199px) and (min-width: 744px) {
  .profile {
    max-width: 907px;
    padding: 10px 8px;
  }

  .profile {
    gap: 12px;
  }
}

@media (max-width: 1199px) {
  .profileWType {
    height: 94px;
  }

  .profileImage {
    width: 50px;
    height: 46px;
  }

  .profileImgDType {
    width: 50px;
    height: 46px;
  }

  .profileImgRType {
    width: 46px;
    height: 46px;
  }

  .info {
    gap: 14px;
  }

  .name {
    font-size: 14px;
  }

  .favoriteCount {
    font-size: 13px;
  }

  .likes {
    font-size: 13px;
    font-weight: 500;
    min-width: 49px;
    gap: 10px;
  }

  .details {
    min-width: 237px;
    gap: 8px;
  }

  .detailsPType {
    gap: 14px;
    font-size: 14px;
  }

  .text {
    font-size: 13px;
    gap: 6px;
  }

  .textPType {
    gap: 8px;
  }

  .movingLabel {
    height: 28px;
    padding: 2px 6px;
    font-size: 14px;
    font-weight: 500;
  }

  .starBox {
    gap: 8px;
  }

  .stars {
    font-size: 13px;
    gap: 2px;
  }
}
