.card {
  width: 100%;
  padding: 20px 24px;
  gap: 24px;
  border-radius: 16px;
  border: 0.5px solid var(--line-100);
  display: flex;
  flex-direction: column;
  background-color: var(--gray-50);
  cursor: pointer;
}

.cardPType {
  background-color: var(--background-200);
}

.cardCDType {
  gap: 16px;
}

.cardPRType {
  gap: 32px;
  cursor: default;
}

.cardWType {
  cursor: default;
}

.cardCType {
  cursor: default;
}

.cardPSmall {
  gap: 14px;
}

.topPType {
  display: flex;
  justify-content: space-between;
}

.profileImage {
  border: 2px solid var(--blue-400);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 50px;
  height: 46px;
}

.namePType {
  color: var(--black-300);
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.contentPType {
  color: var(--gray-400);
  font-size: 20px;
  font-weight: 400;
}

.buttonBoxPType {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
}

.chipBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 32px;
}

.chip {
  display: flex;
  gap: 12px;
}

.content {
  color: var(--black-300);
  font-size: 24px;
  font-weight: 600;
}

.contentSmall {
  font-size: 14px;
}

.contentCType {
  font-size: 20px;
}

.noProfile {
  height: 92px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--line-100);
  padding: 16px 18px;
}

.cost {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  font-weight: 700;
}

.text {
  font-size: 18px;
  font-weight: 500;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.schedule {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.separator {
  color: var(--line-200);
  font-weight: 100;
}

.separatorHidden {
  display: none;
}

.movingInfo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--black-300);
  font-size: 18px;
  font-weight: 500;
}

.movingLabel {
  background-color: var(--background-400);
  color: var(--gray-500);
  font-size: 18px;
  font-weight: 400;
  padding: 4px 6px;
  white-space: nowrap;
}

.costBtn {
  display: flex;
  gap: 11px;
  height: 64px;
}

@media (max-width: 743px) {
  .card {
    width: 100%;
    padding: 16px 12px;
    gap: 14px;
  }

  .cardPType {
    margin-bottom: 126px;
    padding: 16px 14px;
    gap: 16px;
  }

  .cardPRType {
    padding: 14px;
  }

  .buttonBoxPType {
    flex-direction: column;
    height: 116px;
    top: 230px;
  }

  .detailInfo {
    gap: 10px;
  }

  .costBtn {
    flex-direction: column;
    height: 104px;
  }
}

@media (max-width: 1199px) and (min-width: 744px) {
  .card {
    width: 100%;
    padding: 16px 14px;
    gap: 14px;
  }

  .cardPType {
    margin-bottom: 70px;
  }

  .buttonBoxPType {
    height: 54px;
    top: 196px;
  }

  .detailInfo {
    gap: 16px;
  }

  .costBtn {
    height: 48px;
  }
}

@media (max-width: 1199px) {
  .cardPType {
    position: relative;
    gap: 16px;
  }

  .cardCDType {
    gap: 14px;
  }

  .topPType {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .avatar {
    object-fit: cover;
    position: absolute;
    width: 70px;
    height: 64px;
  }

  .namePType {
    gap: 4px;
    font-size: 16px;
  }

  .contentPType {
    font-size: 14px;
  }

  .buttonBoxPType {
    gap: 8px;
    position: absolute;
    left: 0;
  }

  .label {
    min-height: 26px;
    max-height: 34px;
  }

  .content {
    font-size: 14px;
  }

  .noProfile {
    height: 94px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--line-100);
    padding: 16px 18px;
  }

  .cost {
    gap: 8px;
    font-size: 18px;
    font-weight: 700;
  }

  .text {
    font-size: 14px;
  }

  .schedule {
    gap: 14px;
    flex-wrap: wrap;
  }

  .movingInfo {
    gap: 8px;
    font-size: 14px;
  }

  .movingInfoNoPc {
    width: 100%;
  }

  .movingLabel {
    font-size: 14px;
    font-weight: 500;
    padding: 2px 6px;
  }

  .costBtn {
    gap: 8px;
  }
}
/* 1920px ~ 1200px */
/* @media (min-width: 1200px) {
} */
