.profile {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border: 1px solid var(--line-100);
  border-radius: 6px;
  border-radius: 6px;
}

.profilePType {
  background-color: var(--background-100);
  border: 1px solid var(--line-200);
}

.profileImage {
  border: 2px solid var(--blue-400);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 120px;
  height: 100px;
}

.avatar {
  object-fit: cover;
  position: absolute;
  width: 108px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 58px;
  width: 100%;
  height: 80px;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--black-300);
  height: 100%;
}

.likes {
  min-width: 49px;
  display: flex;
  justify-content: end;
  gap: 10px;
  color: var(--blue-400);
}

.details {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  height: 100%;
  color: var(--black-300);
}

.detailsPType {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  height: 100%;
  color: var(--black-300);
}

.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.separator {
  color: var(--line-200);
  font-weight: 100;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.textPType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}