.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 24px 12px;
  border: 1px solid var(--line-200);
  border-radius: 16px;
  min-width: 327px;
  width: 100%;
  background-color: var(--gray-50);
}

.cardRType {
  padding: 32px 24px;
  gap: 32px;
  border-radius: 24px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.chipBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chip {
  display: flex;
  gap: 12px;
}

.createAt {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: vaR(--gray-500);
}

.createAtRType {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: vaR(--gray-300);
}

.labelBox {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.label {
  padding: 4px 6px;
  border-radius: 4px;
  height: 34px;
  line-height: 26px;
  font-weight: 400;
  color: var(--gray-500);
  background-color: var(--background-400);
}

.btnBox {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.cost {
  font-size: 24px;
  font-weight: 700;
  color: var(--black-400);
  display: flex;
  align-items: end;
  justify-content: flex-end;
  gap: 16px;
}

.text {
  font-size: 18px;
  font-weight: 500;
}

.review {
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-500);
  line-height: 32px;
}

@media (max-width: 743px) {
  .btnBox {
    flex-direction: column;
    gap: 8px;
    height: 104px;
  }
}

@media (max-width: 1199px) and (min-width: 744px) {
  .btnBox {
    gap: 8px;
    height: 48px;
  }
}

@media (max-width: 1199px) {
  .card {
    padding: 16px 14px;
  }

  .cardRType {
    padding: 16px 14px;
    gap: 10px;
    border-radius: 16px;
  }

  .createAt {
    font-size: 12px;
  }

  .createAtRType {
    display: none;
  }

  .cost {
    font-size: 18px;
    gap: 8px;
  }

  .text {
    font-size: 14px;
  }

  .review {
    font-size: 14px;
    line-height: 24px;
  }

  .createAtRTypeNoPc {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: vaR(--gray-300);
  }
}
