.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 16px 0
}

.profilePadding {
  padding: 16px 18px;
}

.userInfo {
  font-size: 20px;
  font-weight: 600;
}

.separator {
  width: 100%;
  border: 1px solid var(--line-200);
}

.movingInfo {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.movingInfoMType {
  flex-wrap: wrap;
}

.movingInfoMType > :first-child {
  width: 100%;
}

.text {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
}

.movingLabel {
  height: 34px;
  border-radius: 4px;
  padding: 4px 6px;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-500);
  background-color: var(--background-400);
}

.separatorHorizon {
  height: 16px;
  border: 1px solid var(--line-200);
}

.hidden {
  display: none;
}

.reviewProfile {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 18px;
  border: 1px solid var(--line-100);
}

.profileImage {
  border: 2px solid var(--blue-400);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 70px;
  height: 70px;
}

.avatar {
  object-fit: cover;
  position: absolute;
  width: 70px;
  height: 70px;
}

.driverInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.driverName {
  font-size: 24px;
  font-weight: 600;
  color: var(--black-300);
}

.movingInfoRType {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.movingLabelRType {
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-500);
}

.stars {
  display: flex;
}

@media (max-width: 743px) {
  .movingInfo {
    flex-wrap: wrap;
  }
  
  .movingInfo > :first-child {
    width: 100%;
  }
}

@media (max-width: 1199px) and (min-width: 744px) {
}

@media (max-width: 1199px) {
  .profile {
    gap: 14px;
    padding: 8px 0
  }
  
  .userInfo {
    font-size: 16px;
  }
  
  .movingInfo {
    gap: 14px;
    font-size: 14px;
  }

  .text {
    font-size: 14px;
  }
  
  .movingLabel {
    height: 28px;
    padding: 2px 6px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .separatorHorizon {
    height: 14px;
  }
  
  .reviewProfile {
    gap: 12px;
    padding: 4px;
  }
  
  .profileImage {
    width: 60px;
    height: 60px;
  }
  
  .driverInfo {
    gap: 6px;
  }
  
  .driverName {
    font-size: 14px;
  }
  
  .movingInfoRType {
    gap: 12px;
    font-size: 13px;
  }
  
  .movingLabelRType {
    font-size: 13px;
    font-weight: 500;
    color: var(--gray-300);
  }

  .stars {
    display: none;
  }
}