.outerContainer {
  display: flex;
  max-width: 1920px;
  flex-direction: column;
  width: 100%;
}

.noPadding {
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px 120px;
  position: relative;
}

.compactLayout {
  padding: 20px 24px;
}

.filterRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  z-index: 500; /* 필터 영역이 카드보다 위로 오도록 설정 => 아직 해결이 안됨*/
}

.compactFilterRow {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.leftFilters,
.rightFilters,
.compactFilters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.compactFilters {
  flex-direction: row;
  gap: 12px;
  position: relative;
  z-index: 500; /* 필터 우선순위를 높임 */
}

.leftFilters {
  max-width: 328px;
  flex: 1;
}

.favoriteDrivers {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #1f1f1f;
  margin-top: 46px;
}

.favoriteDriversContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rightFilters {
  align-items: flex-end;
  flex: 1;
  position: relative;
}

.sortDropdown {
  margin-left: auto;
  position: relative;
  z-index: 400;
}

.searchBarCompact {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.cardContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  position: relative;
  z-index: 100;
}

.cardContainer.rightFilters {
  margin-top: 0;
  gap: 48px;
}

.cardContainer.compact {
  margin-top: 24px;
  gap: 30px;
}

.cardContainer.smallScreen {
  margin-top: 24px;
  gap: 24px;
}

.cardSpacing {
  margin-top: 48px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.dropdownItem {
  padding: 12px 16px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f5f5f5;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    padding: 20px 72px;
  }

  .filterRow {
    gap: 20px;
  }

  .cardContainer.compact {
    margin-top: 24px;
    gap: 30px;
  }

  .cardSpacing {
    margin-top: 32px;
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .container {
    padding: 20px 24px;
  }

  .filterRow {
    gap: 20px;
  }

  .cardContainer.smallScreen {
    margin-top: 24px;
    gap: 24px;
  }

  .cardSpacing {
    margin-top: 24px;
  }
}
