.outerContainer {
  display: flex;
  max-width: 1920px;
  flex-direction: column;
  width: 100%;
  overflow: visible;
}

.noPadding {
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px 120px;
  position: relative;
  overflow: visible;
}

.compactLayout {
  padding: 20px 24px;
}

.filterRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  overflow: visible;
}

.compactFilterRow {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.leftFilters,
.rightFilters,
.compactFilters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.compactFilters {
  flex-direction: row;
  gap: 12px;
  position: relative;
}

.leftFilters {
  max-width: 328px;
  flex: 1;
  position: relative;
}

.favoriteDrivers {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #1f1f1f;
  margin-top: 46px;
}

.favoriteDriversContainer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rightFilters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  position: relative;
  z-index: 1;
  width: 100%;
}

.sortSection {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  z-index: 2;
}

.sortDropdown {
  position: relative;
}

.dropdownOpen {
  z-index: 1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #1b92ff;
  background-color: #f5faff;
}

.searchSection {
  width: 100%;
  position: relative;
}

.cardSection {
  position: relative;
  z-index: 1;
  width: 100%;
}

.searchBarCompact {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.cardContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  position: relative;
}

.cardSpacing {
  margin-top: 48px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  z-index: 10;
}

.dropdownItem {
  padding: 12px 16px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
  color: #1f1f1f;
}

.loadMoreButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    padding: 20px 72px;
  }

  .filterRow {
    gap: 20px;
  }

  .cardContainer.compact {
    margin-top: 24px;
    gap: 30px;
  }

  .cardSpacing {
    margin-top: 32px;
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .container {
    padding: 20px 24px;
  }

  .filterRow {
    gap: 20px;
  }

  .cardContainer.smallScreen {
    margin-top: 24px;
    gap: 24px;
  }

  .cardSpacing {
    margin-top: 24px;
  }
}
