.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  z-index: 999;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 608px;
  border-radius: 32px;
  padding: 32px 24px 40px 24px;
  background-color: var(--gray-50);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 608px;
  border-radius: 32px;
  padding: 32px 24px 40px 24px;
  background-color: var(--gray-50);
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 608px;
  border-radius: 32px;
  padding: 32px 24px 40px 24px;
  background-color: var(--gray-50);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 24px;
}

.close {
  cursor: pointer;
}

.text {
  font-weight: 500;
  font-size: 18px;
}

/* 1119px ~ 744px */
@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    gap: 26px;
    width: 375px;
  }

  .textContainer {
    gap: 30px;
    width: 375px;
    padding: 24px 16px;
  }

  .filterContainer {
    gap: 16px;
    width: 375px;
    padding: 16px 24px 32px 24px;
  }

  .filterTitle {
    display: flex;
    gap: 24px;
    font-weight: 600;
    font-size: 18px;
    color: var(--gray-300);
  }

  .active {
    font-weight: 700;
    font-size: 18px;
    color: var(--black-400);
  }

  .title {
    font-weight: 700;
    font-size: 18px;
  }

  .close {
    width: 24px;
    height: 24px;
  }
}

/* 743px ~ 375px */
@media (max-width: 743px) {
  .container {
    gap: 26px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 32px 24px 94px 24px;
  }

  .textContainer {
    gap: 30px;
    width: 293px;
    padding: 24px 16px;
  }

  .filterContainer {
    gap: 16px;
    width: 100%;
    padding: 16px 24px 32px 24px;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .filterTitle {
    display: flex;
    gap: 24px;
    font-weight: 600;
    font-size: 18px;
    color: var(--gray-300);
  }

  .active {
    font-weight: 700;
    font-size: 18px;
    color: var(--black-400);
  }

  .title {
    font-weight: 700;
    font-size: 18px;
  }

  .close {
    width: 24px;
    height: 24px;
  }
}
