/* @import url('./reset.css'); */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  --black-500: #040404;
  --black-400: #1f1f1f;
  --black-300: #373737;
  --black-200: #525252;
  --black-100: #6b6b6b;

  --gray-500: #808080;
  --gray-400: #999999;
  --gray-300: #ababab;
  --gray-200: #c4c4c4;
  --gray-100: #dedede;
  --gray-50: #ffffff;

  --blue-400: #242945;
  --blue-300: #1b92ff;
  --blue-200: #4da9ff;
  --blue-100: #e9f4ff;
  --blue-50: #f5faff;

  --yellow: #ffc149;

  --red-200: #ff4f64;
  --red-100: #ffeef0;

  --background-400: #fcfcfc;
  --background-300: #f7f7f7;
  --background-200: #efefef;
  --background-100: #f4f7fb;

  --line-200: #e6e6e6;
  --line-100: #f2f2f2;

  --error: #eb3e3e;
}

.Text-3xl {
  font-size: 32px;
  line-height: 42px;
}

.Text-2xl {
  font-size: 24px;
  line-height: 32px;
}

.Text-xl {
  font-size: 20px;
  line-height: 32px;
}

.Text-2lg {
  font-size: 18px;
  line-height: 26px;
}

.Text-lg {
  font-size: 16px;
  line-height: 26px;
}

.Text-md {
  font-size: 14px;
  line-height: 24px;
}

.Text-sm {
  font-size: 13px;
  line-height: 22px;
}

.Text-xs {
  font-size: 12px;
  line-height: 20px;
}
