@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  --black-500: #040404;
  --black-400: #1f1f1f;
  --black-300: #373737;
  --black-200: #525252;
  --black-100: #6b6b6b;

  --gray-500: #808080;
  --gray-400: #999999;
  --gray-300: #ababab;
  --gray-200: #c4c4c4;
  --gray-100: #dedede;
  --gray-50: #ffffff;

  --blue-400: #242945;
  --blue-300: #1b92ff;
  --blue-200: #4da9ff;
  --blue-100: #e9f4ff;
  --blue-50: #f5faff;

  --yellow: #ffc149;

  --red-200: #ff4f64;
  --red-100: #ffeef0;

  --background-400: #F4F7FB;
  --background-300: #EFEFEF;
  --background-200: #F7F7F7;
  --background-100: #fafafa;

  --line-200: #e6e6e6;
  --line-100: #f2f2f2;

  --error: #eb3e3e;
}

html {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--black-400);
}

.flexRow {
  display: flex;
  justify-content: space-between;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}