.text {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 22px;
}

.otherText {
  padding-bottom: 40px;
}

.imgs {
  display: flex;
  gap: 16px;
}

.img {
  cursor: pointer;
}

@media (max-width: 1199px) {
  .text {
    font-size: 14px;
    padding-bottom: 8px;
  }
 
  .otherText {
    font-size: 14px;
    padding-bottom: 16px;
  }
}

@media (max-width: 1199px) and (min-width: 744px) {
  .otherText {
    font-size: 16px;
  }
}
