@media (max-width: 1199px) {
  .cancel {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 660px;
    height: 54px;

    border-radius: 16px;
    border: 1px solid var(--gray-200);
    background-color: #fff;

    cursor: pointer;

    font-size: 16px;
    font-weight: 600;
    color: var(--gray-300);
  }

  .edit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 660px;
    height: 64px;

    border-radius: 16px;
    background-color: var(--gray-100);

    cursor: pointer;

    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .edit.complete {
    background-color: var(--blue-300);
  }
}

@media (min-width: 1200px) {
  .cancel {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 660px;
    height: 64px;

    border-radius: 16px;
    border: 1px solid var(--gray-200);
    background-color: #fff;

    cursor: pointer;

    font-size: 20px;
    font-weight: 600;
    color: var(--gray-300);
  }

  .edit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 660px;
    height: 64px;

    border-radius: 16px;
    background-color: var(--gray-100);

    cursor: pointer;

    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .edit.complete {
    background-color: var(--blue-300);
  }
}
