.container {
  border-bottom: 1px solid #f2f2f2;

  width: 100%;
  max-width: 1920px;

  padding: 0 260px;
}

.select {
  display: flex;
  align-items: flex-end;
  gap: 32px;

  width: 100%;
  height: 80px;
}

.selectedContent {
  padding: 16px 0;

  font-weight: 600;
  font-size: 20px;

  color: var(--gray-400);

  cursor: pointer;
}

.active {
  border-bottom: 2px solid var(--black-400);

  color: var(--black-400);
}

.nonSelect {
  display: flex;
  align-items: center;

  width: 100%;
  height: 96px;
}

.content {
  font-weight: 600;
  font-size: 24px;
  color: var(--black-400);
}

/* 1119px ~ 744px */
@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    max-width: 1199px;
    /* padding 수정 확정되면 이 부분 수정 */
    padding: 0 72px;
  }

  .select {
    gap: 24px;

    height: 54px;
  }

  .selectedContent {
    font-size: 14px;
  }

  .active {
    font-weight: 700;
  }

  .nonSelect {
    height: 54px;
  }

  .content {
    font-size: 18px;
  }
}

/* 743px ~ 375px */
@media (max-width: 743px) {
  .container {
    max-width: 1199px;

    padding: 0 24px;
  }

  .select {
    gap: 24px;

    height: 54px;
  }

  .selectedContent {
    font-size: 14px;
  }

  .active {
    font-weight: 700;
  }

  .nonSelect {
    height: 54px;
  }

  .content {
    font-size: 18px;
  }
}
