.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.chipContainer, .notMaxChip {
  display: flex;
  gap: 12px;
}

.serviceChip {
  display: flex;
  gap: 12px;
}

.smallContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--black-300);
  font-weight: 600;
  font-size: 20px;
}

.rating {
  padding: 0 0 32px 0;
  border-bottom: 1px solid var(--line-100);
}

.starContainer {
  display: flex;
}

.star {
  cursor: pointer;
}

.textArea {
  height: 160px;
  border-radius: 16px;
  padding: 14px 24px;
  background-color: var(--background-200);
  border: none;
  font-family: 'Pretendard Variable';
  color: var(--black-200);
  resize: none;
  font-size: 20px;
}

.textArea::placeholder {
  font-weight: 400;
  font-size: 20px;
  font-family: 'Pretendard Variable';
  color: var(--gray-300);
}

@media (max-width: 1199px) {
  .container {
    gap: 20px;
  }

  .rating {
    padding: 20px 0;
  }

  .textArea {
    font-size: 16px;
  }

  .textArea::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 1199px) and (min-width: 744px) {
  .chipContainer {
    flex-direction: column;
  }

  .assignedChip {
    max-width: 107px;
  }
}

@media (max-width: 438px) {
  .chipContainer {
    flex-direction: column;
  }

  .assignedChip {
    max-width: 107px;
  }
}
