.callList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chipBar {
  display: flex;
  gap: 14px;
}

.profile {
  border-radius: 8px;
  padding: 8px 0;
  border: 1px solid var(--line-100);
  position: relative;
}

.commentChip {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 18px;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 4px 5px;
  color: var(--blue-300);
  font-size: 16px;
  font-weight: 600;
}

.commentImg {
  position: relative;
}

.comment {
  cursor: default;
  position: absolute;
  top: 34px;
  right: 0;
  min-height: 50%;
  min-width: 300%;
  background-color: var(--blue-100);
  opacity : 0.9;
  border-radius: 12px;
  border: 1px solid var(--line-200);
  padding: 12px;
}
