.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: var(--black-400);
  padding: 8px 10px;
  min-width: 127px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  border: 1px solid var(--line-100);
  border-radius: 8px;
  min-width: 127px;
  cursor: pointer;
}

.text {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black-400);
}