.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 328px;
  height: 40px;
}

.pageButton {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  color: var(--grey-400);
  margin: 0 8px;
  border: none;
  background: none;
  cursor: pointer;
  width: 40px;
  padding: 4px;
}

.active {
  width: 60px;
  height: 40px;
  border-radius: 8px;
  background-color: #1b92ff !important;
  color: #ffffff !important;
}

.pageButton:hover {
  color: var(--grey-800);
}

.arrowButton {
  border: none;
  background: none;
  cursor: pointer;
}

.disabledArrow {
  stroke: var(--grey-400) !important;
}

.enabledArrow {
  stroke: var(--grey-800) !important;
}

@media (max-width: 743px) {
  .pagination {
    max-width: 288px;
  }

  .pageButton {
    font-size: 12px;
    line-height: 14.71px;
  }
}

