.container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-400);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 32px 40px;
  background-color: var(--background-100);
  border: 1px solid var(--line-100);
}

.infoContents {
  display: flex;
  gap: 32px;
  font-size: 18px;
  line-height: 26px;
}

.infoTitle {
  width: 90px;
  color: var(--gray-300);
}

.requestContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  line-height: 26px;
}

.button {
  margin-top: 16px;
}

@media (max-width: 1199px) {
  .container {
    gap: 24px;
  }
  
  .title {
    font-size: 16px;
    line-height: 26px;
  }

  .infoContainer {
    gap: 10px;
    padding: 24px 32px;
  }

  .infoContents {
    gap: 40px;
    font-size: 14px;
    line-height: 24px;
  }

  .infoTitle {
    width: 65px;
  }

  .requestContainer {
    gap: 10px;
    font-size: 14px;
    line-height: 24px;
  }

  .button {
    margin-top: 10px;
  }
}

@media (max-width: 743px) {
  .infoContainer {
    padding: 16px 20px;
  }
}
