.container {
  background-color: #f7f7f7;
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
}

.mainContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentSection {
  margin-top: 40px;
  width: 1400px;
}

.optionGuideBubble {
  margin-bottom: 24px;
  background-color: var(--gray-50);
  font-size: 18px;
  font-weight: 500;
  padding: 20px 40px;
  width: fit-content;
  border-radius: 0px 30px 30px 30px;
}

.optionBubble {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  width: fit-content;
  background-color: var(--gray-50);
  border-radius: 30px 0px 30px 30px;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
}

.selectOptionBubble {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  width: fit-content;
  background-color: var(--blue-300);
  border-radius: 30px 0px 30px 30px;
  padding: 24px 40px;
  color: var(--gray-50);
  font-size: 18px;
  font-weight: 500;
}

.editButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  width: fit-content;
  padding: 12px 8px 0px 0px;
  position: relative;
  color: var(--gray-500);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.editButton::after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 90%;
  height: 1px;
  background-color: var(--gray-500);
}
