.formLayout {
  width: 560px;
  padding: 12px 0;
}

.inputLabel {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 16px;
}

.textareaField {
  border: 1px solid var(--line-200);
  border-radius: 16px;
  width: 100%;
  height: 8vw;
  padding: 20px;
  resize: none;
}

.submitButton {
  margin-top: 40px;
}
