.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1100;
  max-width: 608px;
  width: 100%;
  border-radius: 32px;
  padding: 32px 24px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalTitle {
  font-size: 24px;
  font-weight: 600;
}

.searchContainer {
  margin-top: 40px;
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 22px;
  left: 10px;
  transform: translateY(-50%);
}

.searchInputField {
  background-color: var(--background-100);
  width: 100%;
  border-radius: 16px;
  border: none;
  padding: 14px 24px 14px 45px;
  margin-bottom: 24px;
}

.searchIconCancel {
  position: absolute;
  top: 22px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.addressItem {
  width: 100%;
  padding: 20px 16px 24px 16px;
  border: 1px solid var(--line-100);
  border-radius: 16px;
  cursor: pointer;
}

.addressSelectLayout {
  border: 1px solid var(--line-200);
  box-shadow: inset 4px 4px 10px 0px #e0e0e033;
  background-color: var(--blue-50);
}

.addressPostalCode {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.addressDetail {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
}

.addressLabel {
  padding: 2px 8.5px;
  border-radius: 16px;
  background-color: var(--blue-50);
  font-size: 14px;
  font-weight: 600;
  color: var(--blue-300);
}

.submitButton {
  margin-top: 40px;
}

.submitEmptyListButton {
  margin-top: 100px;
}
