/* tablet, moblie 화면 */

@media (max-width: 743px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1199px;
    height: 54px;

    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
  }

  .logoImg {
    width: 88px;
    height: 34px;
    cursor: pointer;
  }

  .navContainer {
    display: flex;
    justify-content: start;

    width: 100%;
    max-width: 1284px;
  }

  .navWrapper {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  .navItem {
    font-size: 18px;
    font-weight: 700;
    color: #000;

    cursor: pointer;
  }

  .navIcons {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 24px;

    min-width: 130px;

    position: relative;
  }

  .navIcon {
    cursor: pointer;
  }

  .navIconText {
    font-weight: 500;
    font-size: 18px;
    color: var(--black-400);
  }
}
@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1199px;
    height: 54px;

    box-sizing: border-box;
    padding-left: 72px;
    padding-right: 72px;
  }

  .logoImg {
    width: 88px;
    height: 34px;
    cursor: pointer;
  }

  .navContainer {
    display: flex;
    justify-content: start;

    width: 100%;
    max-width: 1284px;
  }

  .navWrapper {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  .navItem {
    font-size: 18px;
    font-weight: 700;
    color: #000;

    cursor: pointer;
  }

  .navIcons {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 24px;

    min-width: 130px;

    position: relative;
  }

  .navIcon {
    cursor: pointer;
  }

  .navIconText {
    font-weight: 500;
    font-size: 18px;
    color: var(--black-400);
  }
}

/* pc 화면 */
@media (min-width: 1200px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 82px;

    width: 100%;
    max-width: 1920px;
    height: 88px;

    box-sizing: border-box;
    padding-left: 120px;
    padding-right: 120px;
  }

  .logoImg {
    width: 116px;
    height: 44px;
    cursor: pointer;
  }

  .navContainer {
    display: flex;
    justify-content: start;

    width: 100%;
    max-width: 1284px;
  }

  .navWrapper {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 40px;

    width: 100%;
    height: 100%;
  }

  .navItem {
    font-size: 18px;
    font-weight: 700;
    color: var(--gray-400);

    cursor: pointer;
  }

  .location {
    color: #000;
  }

  .navIcons {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: 16px;

    min-width: 167px;

    position: relative;
  }

  .navIconProfile {
    box-sizing: border-box;
    margin-left: 16px;

    cursor: pointer;
  }

  .navProfile {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .navIcon {
    cursor: pointer;
  }

  .navIconText {
    font-weight: 500;
    font-size: 18px;
    color: var(--black-400);
    text-align: center;
  }
}
