@media (max-width: 743px) {
  .container {
    display: flex;
    flex-direction: column;

    width: 152px;
    height: 266px;

    border: 1px solid var(--line-200);
    border-radius: 16px;

    position: absolute;
    z-index: 100;
    top: 42px;
    left: -32px;
    right: 0;

    z-index: 100;
    background-color: #fff;
  }
  .containerD {
    display: flex;
    flex-direction: column;

    width: 152px;
    height: 224px;

    border: 1px solid var(--line-200);
    border-radius: 16px;

    position: absolute;
    z-index: 100;
    top: 42px;
    left: -32px;
    right: 0;

    z-index: 100;
    background-color: #fff;
  }
  .item,
  .title {
    display: flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
    padding-left: 18px;

    width: 100%;
    height: 42px;

    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    color: var(--black-300);
  }
  .item:hover,
  .logout:hover {
    background-color: lightgray;
  }

  .title {
    cursor: unset;
  }

  .title > span {
    font-weight: 700;
    font-size: 16px;
    color: var(--black-300);
  }

  .logout {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 42px;

    font-weight: 400;
    font-size: 12px;
    color: var(--gray-500);
    cursor: pointer;
  }
}

@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    display: flex;
    flex-direction: column;

    width: 152px;
    height: 266px;

    border: 1px solid var(--line-200);
    border-radius: 16px;

    position: absolute;
    z-index: 100;
    top: 42px;
    left: -152px;
    right: 0;

    z-index: 100;
    background-color: #fff;
  }
  .containerD {
    display: flex;
    flex-direction: column;

    width: 152px;
    height: 224px;

    border: 1px solid var(--line-200);
    border-radius: 16px;

    position: absolute;
    z-index: 100;
    top: 42px;
    left: -152px;
    right: 0;

    z-index: 100;
    background-color: #fff;
  }
  .item,
  .title {
    display: flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
    padding-left: 18px;

    width: 100%;
    height: 42px;

    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    color: var(--black-300);
  }
  .item:hover,
  .logout:hover {
    background-color: lightgray;
  }

  .title {
    cursor: unset;
  }

  .title > span {
    font-weight: 700;
    font-size: 16px;
    color: var(--black-300);
  }

  .logout {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 42px;

    font-weight: 400;
    font-size: 12px;
    color: var(--gray-500);
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;

    width: 248px;
    height: 350px;

    border: 1px solid var(--line-200);
    border-radius: 16px;

    box-sizing: border-box;
    padding-top: 16px;

    position: absolute;
    top: 54px;
    left: -81px;
    right: 0;

    z-index: 100;
    background-color: #fff;
  }
  .containerD {
    display: flex;
    flex-direction: column;

    width: 248px;
    height: 296px;

    border: 1px solid var(--line-200);
    border-radius: 16px;

    box-sizing: border-box;
    padding-top: 16px;

    position: absolute;
    top: 54px;
    left: -81px;
    right: 0;

    z-index: 100;
    background-color: #fff;
  }

  .item,
  .title {
    display: flex;
    justify-content: start;
    align-items: center;

    box-sizing: border-box;
    padding-left: 24px;

    width: 100%;
    height: 54px;

    cursor: pointer;
  }
  .item:hover,
  .logout:hover {
    background-color: lightgray;
  }

  .title {
    cursor: unset;
  }

  .title > span {
    font-weight: 700;
    font-size: 18px;
    color: var(--black-300);
  }

  .logout {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 54px;

    font-weight: 400;
    font-size: 16px;
    color: var(--gray-500);
    cursor: pointer;
  }
}
