.outerContainer {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
}

.noPadding {
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 120px;
  gap: 60px;
}

.leftFilters {
  max-width: 955px;
  flex: 1;
  margin-top: 56px;
  position: relative;
}

.leftFilters::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: -40px;
}

.rightFilters {
  max-width: 354px;
  flex: 1;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rightFilters h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #1f1f1f;
  margin-bottom: 32px;
}

.rightButtons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.heartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.requestButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  background-color: var(--blue-300);
  color: var(--gray-50);
  font-size: 16px;
  font-weight: 600;
}

.mobileBorder {
  margin-top: 24px;
  margin-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.section {
  margin-top: 40px;
}

.border {
  margin: 40px 0;
  border-top: 1px solid #f2f2f2;
}

.reviewSection {
  margin-top: 40px;
}

.reviewSeparator {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #f2f2f2;
}

.sectionTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #1f1f1f;
  margin-bottom: 32px;
  margin-top: 24px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #1f1f1f;
  margin-bottom: 40px;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}

.serviceChip {
  padding: 10px 20px;
  border: 1px solid #1b92ff;
  background-color: #f5faff;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #1b92ff;
}

.regionChip {
  padding: 10px 20px;
  border: 1px solid #dedede;
  background-color: #fafafa;
  border-radius: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #242945;
}

.noContents {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.noDriverError {
  margin-top: 40px;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .container {
    flex-direction: column;
    padding: 20px 72px;
    gap: 0;
  }

  .leftFilters {
    max-width: 100%;
    width: 100%;
    margin-top: 0;
  }

  .rightFilters {
    display: none;
  }

  .chips {
    gap: 10px;
  }

  .serviceChip,
  .regionChip {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .container {
    padding: 20px 24px;
  }

  .rightFilters {
    display: none;
  }
}
